.activityContainer {
 flex: 1;
 margin: 0 20px;
 padding: 30px;
 display: flex;
 flex-direction: column;
 border-radius: 10px;
 /*cursor: pointer;*/
 -webkit-box-shadow: 0px 0px 12px -1px #000000;
 box-shadow: 0px 0px 12px -1px #000000;
}

.title {
 font-size: 22px;
 font-weight: 600;
 /* flex: 1; */
}

.index {
 margin-top: 10px;
}

.recentDataContainer,
.bestDataContainer {
 margin-bottom: 5px;
}